// Variables

// Background
$bg-color: #ffffff;
$bg-gradient: linear-gradient(0deg, rgba(120,13,13,1) 0%, rgba(196,101,101,1) 100%);
$bg-rose: rgba(196,101,101,1);

// Text
$primary-font: Montserrat, sans-serif;
$text-color: #0c0c0c;
$text-color_white: #ffffff;

// Buttons
$border-color: #c42020;
$btn-main-bg: rgba(196,101,101,1);
$btn-alt-bg: #ffffff;
$btn-main-text: #ffffff;
$btn-alt-text: rgba(196,101,101,1);

// Nav
$nav-color: #22272e;

// Input
$input-color: #d8d8d8;
$input-form: #F7F7F7;

// Message
$even-message:#D3D3D3;
$odd-message:#808080;