<footer class="navbar">
    <a href="chat"><img src="images/chat.png">Chat</a>
    <a href="/"><img src="images/home.png">Home</a>
    <a href="match"><img src="images/heart.png">Matches</a>
</footer>