<main class="pagina_home">

    <h2>Hi {{name}}!</h2>

<a href="update">Profiel bewerken</a>
<a href="series">serieselect</a>
<a href="match">Match</a>

    <h3>My profile</h3>

    <p>Username</p>
    <p>About me: <br> {{about}}!</p>

    <a href="update">Manage profile</a>


    <h3>Your favorite shows:</h3>
    <section class="seriesGrid">
        {{#each shows}}
        {{#each shows}}
        <section id="{{this}}"></section>
        {{/each}}
        {{/each}}
    </section>


    <a href="series">Change series</a>

    <a href="match">Matching</a>

    <form action="/logout" method="post">
        <input type="submit" value="Log out">
    </form>

</main>