<main class="pagina_home">

    <h2>Hi {{name}}!</h2>

<<<<<<< HEAD
<a href="update">Profiel bewerken</a>
<a href="series">serieselect</a>
<a href="match">Match</a>
=======
    <h3>My profile</h3>
    <p>Username</p>
    <p>About me text</p>
    <a href="update">Manage profile</a>

    <p>Your favorite shows: <br> {{shows}}!</p>

    <a href="series">Change series</a>
>>>>>>> 268bfb16c9b2857c978c64f8f7c703d087827edb

    <form action="/logout" method="post">
        <input type="submit" value="Log out">
    </form>

</main>
