<main class="pagina_home">

    <h2>Hoi {{name}}!</h2>

<a href="update">Profiel bewerken</a>
<a href="series">serieselect</a>

    <form action="/logout" method="post">
        <input type="submit" value="Uitloggen">
    </form>

</main>