<main class="pagina_home">

    <h2>Hoi {{name}}!</h2>

    <h3>Mijn profiel</h3>
    <p>Gebruikersnaam</p>
    <p>About me</p>
    <a href="update">Profiel bewerken</a>

    <p>Jouw favoriete series: <br> {{shows}}!</p>

    <a href="series">Series wijzigen</a>

    <form action="/logout" method="post">
        <input type="submit" value="Uitloggen">
    </form>

</main>
