<main class="pagina_home">

    <h2>Hi {{name}}!</h2>

    <h3>My profile</h3>

    <p>Username</p>
    <p>About me: <br> {{about}}!</p> 
    
    <a href="update">Manage profile</a>

    <p>Your favorite shows: <br> {{shows}}!</p>
    <a href="series">Change series</a>

    <form action="/logout" method="post">
        <input type="submit" value="Log out">
    </form>

</main>