<h1>Inloggen</h1>
<form action="/login" method="post">
    <label for="email">E-mailadres:</label><br>
    <input type="email" id="emailadres" name="emailadres"><br>
    <label for="email">Wachtwoord:</label><br>
    <input type="password" id="wachtwoord" name="wachtwoord"><br>
    <input type="submit" value="Inloggen">
</form>