<main class="pagina_login">

    <h1>Login</h1>

    <form action="/login" class="pe login" method="post">
        <label for="email">Email address:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>

        <label class="error"></label>

        <input type="submit" value="Login">
        <a href="/register">Create a new account!</a>
    </form>

</main>

<script src='javascript/progressive.js'></script>