<main class="login-register">
    <h1>Login</h1>
    <form action="/login" class="pe login" method="post">
        <label for="email">Emailaddress:</label>
        <input type="email" id="email" name="email">
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <p class="error hidden"></p>

        <input class="main-btn" type="submit" value="Login">
        
        <a href="/register">Create a new account!</a>
    </form>
</main>
<script src='javascript/login.js'></script>