
<header>

</header>
<main>
  <h1>Matching page</h1>
    <div class="match-container">
        <section class="person">
            <ul>
                <li class="person-name">{{name}}</li>
                <li class="person-age">Age:{{age}}</li>
                <li class="person-about">{{about}}</li>
            </ul>
        </section>
    </div>
    <a class="rematch_btn" href="match">ReMatch</a>
</main>



