
<header>

</header>
<main>
  <h1>Matching page</h1>
    <div class="profile-container">
        <section class="person">
            <ul>
                <li class="person-name">{{name}}</li>
                <li class="person-age">{{age}}</li>
                <li class="person-about">{{about}}</li>
            </ul>
        </section>
    </div>
</main>



