<main>
    <h1>Matchlist</h1>
       <ul>
        {{#each matchedUser}}
                <li>
                    <h2>{{this.name}}</h2>
                </li>
        {{/each}}
   </ul>
</main>

{{>footer}}