
<header>

</header>
<main>
  <h1>Matching page</h1>
    <div class="match-container">
        <button class="like-choice_btn" type="submit" value="dislike" id="dislike">Dislike</button>
        <section class="person">
            <ul>
                <li class="person-name">{{name}}</li>
                <li class="person-age">Age: {{age}}</li>
                <li class="person-about">{{about}}</li>
            </ul>
        </section>
        <button class="like-choice_btn" type="submit" value="like" id="like">Like</button>
    </div>
    <a class="rematch_btn" href="match">ReMatch</a>
</main>



