<main class="login-register">
    <h1>Register</h1>
    <form action="/register" class="pe register" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        
        <label for="age">Age:</label>
        <input type="number" name="age" id="age">
        
        <label for="gender">Gender:</label>
        <select name="gender" id="gender">
            <option value="Man">Man</option>
            <option value="Woman">Woman</option>
            <option value="Other">Other</option>
        </select>
        
        <label for="email">Emailaddress:</label>
        <input type="email" id="email" name="email">
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <label for="password-check">Confirm your password:</label>
        <input type="password" id="password-check" name="password-check">

        <p class="error hidden"></p>

        <input class="main-btn" type="submit" value="Register">
        
        <a href="/login">Login into your account!</a>
    </form>
</main>
<script src='javascript/register.js'></script>