


{{#each series}} {{! voor elke item in de stijl database}}
    <section>
        <h1>{{serie.name}}</h1>
        <img src="{{serie.image_thumbnail_path}}" class="serie" alt="{{serie.name}}">
    </section>
{{/each}} {{! voor elke item in de stijl database}}