
<main id="series-page">

<h2 id="filtermsg">Please select 1 or more shows</h2>

<form method="post" action="series" class="series-grid">
    
    {{#each tv_shows}} {{! voor elke item in de stijl database}}
        <section id="{{permalink}}" class="series">
            <input type="checkbox" name="serie-name" id="{{permalink}}Box" value="{{permalink}}" class="checkbox">
        </section>
    {{/each}}   


    <section class="button" class="notLoaded">    
        <button type="submit" value="Submit" id="submit">Select</button>
    </section> 

</form>
</main>    
{{>footer}}

<script src="/javascript/series.js"></script>
