// buttons
button {
    color: $btn-main-text;
    background-color: $btn-main-bg;
}

.main-btn {
    display: inline-block;
    background-color: $btn-main-bg;
    border-radius: 1.8em;
    color: $btn-main-text;
    padding: 1em;
    text-decoration: none;
    border: none;
}

.alt-btn {
    display: inline-block;
    background-color: $btn-alt-bg;
    border-radius: 1.8em;
    color: $btn-alt-text;
    padding: 1em;
    text-decoration: none;
    border: none;
}
