#form {
	padding: 0.7rem;
	position: fixed;
	bottom: -1rem;
	left: 0;
	right: 0;
	display: flex;
	height: 3rem;
	background-color: $input-form;
	>button {
		border: none;
		padding: 0 1rem;
		margin: 0.25rem;
		border-radius: 3px;
		outline: none;
	}
}
#input {
	border: none;
	padding: 0 1rem;
	flex-grow: 1;
	border-radius: 2rem;
	margin: 0.25rem;
	&:focus {
		outline: none;
	}
}
.topBar {
	background: $btn-main-bg;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 150px;
	overflow-y: scroll;
	width: 100%;
	>li {
		padding: 0.5rem 1rem;
		color: $text-color;
		background-color: $odd-message;
		margin-bottom: 0.5rem;
		&:nth-child(even) {
			background-color: $even-message;
			text-align: end;
		}
	}
}


.chatBar{
	margin-bottom: 100px;

	input{
		background-color: $input-color;
	}
}
