.pagina_home {

    h2 {
        padding: 0.5em;
        margin-left: 0.5em;
    }

    h3 {
        margin: 1em;
    }

    .manage {
        display: inline-block;
        background-color: $btn-color;
        border-radius: 1.8em;
        color: $text-color_white;
        margin-top: 0;
        margin-bottom: 2em;
        padding: 1em;
        margin-left: 2em;
    }

    .change {
        display: inline-block;
        background-color: white;
        border-radius: 1.8em;
        color: $btn-color;
        margin: 2em;
        padding: 1em;
    }

    .testsectie{
        background-color: $btn-color;
        margin-bottom: 2em;
    }
    .testsectie h3 {
        padding-top: 1em;
    }

    input{
        margin-left: 2em;
        margin-bottom: 10em; 
        padding: 1em;
        background-color: $btn-color;
        border: none;
        color: $text-color_white;
        border-radius: 1.8em;
    }

    .gegevens {
        margin: 2em;
    }
    .gegevens p {
        margin-bottom: 0.5em;
    }
    .gegevens .about {
        margin-top: 2em;
        text-decoration: underline;
    }

}

