.pagina_home {

    * {
        margin: 0;
        font-size: 1em;
        color: $text-color;
        text-decoration: none;
        font-family: $primary-font;
        text-align: center;

    }

    h2 {
        font-size: 2em;
        margin: 0.5em;

    }

    h3 {
        font-size: 1.5em;
        margin: 0.7em;

    }

    p {
        margin: 1em;
    }

    a {
        display: inline-block;
        border: solid 0.5px $border-color;
        background-color: $btn-color;
        color: $text-color_white;
        margin: 1em;
        padding: 1em;
    }

    input{
        margin-left: 1em;
        padding: 1em;
        background-color: $btn-color;
        border: none;
        color: $text-color_white;
    }

}

#arrow{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/29560.jpg') ;
    background-size: cover;
}

#lucifer{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/43467.com') ;
    background-size: cover;
}

#supergirl{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/43234.jpg') ;
    background-size: cover;
}

#the-flash{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/35624.jpg') ;
    background-size: cover;
}

#game-of-thrones{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/23455.jpg') ;
    background-size: cover;
}

#dcs-legends-of-tomorrow{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/46692.jpg') ;
    background-size: cover;
}

#the-walking-dead{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/24010.jpg') ;
    background-size: cover;
}

#montauk{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/46778.jpg') ;
    background-size: cover;
}

#dragon-ball-super{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/47145.') ;
    background-size: cover;
}

#boku-no-hero-academia{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/52439.jpg') ;
    background-size: cover;
}

#the-100{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/33514.jpg') ;
    background-size: cover;
}

#sherlock{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/22410.jpg') ;
    background-size: cover;
}

#supernatural{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/5348.jpg') ;
    background-size: cover;
}

#the-big-bang-theory{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/8362.jpg') ;
    background-size: cover;
}

#marvel-s-agents-of-s-h-i-e-l-d{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/31452.jpg') ;
    background-size: cover;
}

#daredevil{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/37444.jpg') ;
    background-size: cover;
}

#vikings{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/29977.jpg') ;
    background-size: cover;
}

#gotham{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/29671.png') ;
    background-size: cover;
}

#westworld{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/36210.jpg') ;
    background-size: cover;
}

#miraculous-ladybug{
    background-image:url('https://static.episodate.com/images/tv-show/thumbnail/49269.jpg') ;
    background-size: cover;
}