.pagina_home {
    text-align: center;

    * {
        margin: 0;
        font-size: 1em;
        color: $text-color;
        text-decoration: none;
        font-family: $primary-font;
        text-align: center;
        justify-content: center;
    }
    

    h2 {
        font-size: 2em;
        margin: 1em;
    }

    h3 {
        font-size: 1.5em;
        margin: 1em;
    }

    p {
        margin: 0em;
    }

    .manage {
        display: inline-block;
        background-color: $btn-color;
        border-radius: 30px;
        color: $text-color_white;
        margin-top: 0;
        margin-bottom: 2em;
        padding: 1em;
    }

    .change {
        display: inline-block;
        background-color: $btn-color;
        border-radius: 30px;
        color: $text-color_white;
        margin: 1em;
        padding: 1em;
    }

    input{
        margin-left: 1em;
        margin-bottom:  120px; 
        padding: 1em;
        background-color: $btn-color;
        border: none;
        color: $text-color_white;
        border-radius: 30px;
    }

    .gegevens {
        margin: 3em;
    }
    .gegevens .about {
        margin-top: 2em;
        text-decoration: underline;
    }

}

