.match-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 1rem;
    padding: 1em;

    section:last-of-type {
        display: flex;

        form {
            input[type=submit] {
                font-size: 1em;
                font-weight: 600;
                padding: .75em;
                width: 7em;
                border-radius: .5em;
                border: none;
                color: rgba(0,0,0,0.8);
            } 
        }

        form:first-of-type {
            input[type=submit] {
                background-color: #db503b;
            }
        }

        form:last-of-type {
            input[type=submit] {
                background-color: #52d63b;
            }
        }
    }

    .person-name{
        font-weight: 700;
        font-size: 2rem;
    }
    li{
        margin: 0.2rem;
    }

    form{
        margin: 1.5rem 0.5rem 1.5rem 0.5rem;
    }
}

.match-series {
    display: flex;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80vw;

    section{
        height: 139px;
        width: 100px;
        border-radius: 1rem;
        margin: 0.4rem;
        background-size: cover;
    }
}