.match-container{
    display: flex;
    justify-content: center;

    .person-name{
        font-weight: 700;
        font-size: 2rem;
    }
    li{
        margin: 0.2rem;
    }
}
.rematch_btn{
    margin-top: 2rem;
    text-align: center;
}

.like-choice_btn{
    margin: 1.5rem;
    padding: 0.5rem;
    width: 4rem;
}