.seriesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 25px;
    section{
        height: 250px;
        width: 180px;
        border-radius: 30px;
        margin: 10px auto 10px auto;
    }
    // button{
    input{
        color: transparent;
        height: 250px;
        width: 182px;
        appearance: none;
        border-radius: 30px;
        position: relative;
    }
    label{
        color: white;
        position: relative;
        top: -50%;
        font-size: 1.3em;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}



.seriesGrid input:checked {
    opacity: 0.8;
    border-radius: 30px;
    background-color: darkgray;
    border: 4px solid green;
    margin: 0;

}

// #miraculous-ladybug{
//     background-image: url('https://static.episodate.com/images/tv-show/thumbnail/49269.jpg');
//     background-size: cover;
// }

// #the-flash{
//     background-image: url('https://static.episodate.com/images/tv-show/thumbnail/35624.jpg');
//     background-size: cover;
// }


.seriesGrid{
    .button{
        height: 250px;
        width: 250px; 
        border-radius: 150px !important;
        background-color:gray;
        border: 2px solid #d9d9d9;
        position: fixed;
        top:88%;
        left:22%;
    p{
        margin-top: 10px;
        font-size: 1.5em;   
        font-weight: bold;      
        font-family: Georgia, 'Times New Roman', Times, serif;  
        color: var(--txt-color);
        margin-top: 10px;
        top: 0;
    }
    
    #submit{    
        margin-top: 25px;
        height: 50px;
        text-align: center;
        border: none;
        background-color: transparent;
        font-size: 1.5em;   
        font-weight: bold;      
        font-family: Georgia, 'Times New Roman', Times, serif;  
        color: var(--txt-color);
    } 
    input{
        height: 50px;
        text-align: center;
        border: none;
        background-color: transparent;
        font-size: 1.5em;   
        font-weight: bold;      
        font-family: Georgia, 'Times New Roman', Times, serif;  
        color: var(--txt-color);
        margin-left: 70px;

    }
}
}   

img{
    position: absolute;
    width: 180px;
    height: 250px;
    border-radius: 30px;
}