
.series-grid input:checked {
    opacity: 0.8;
    border-radius: 2em;
    background-color: $bg-color;
    border: .5em solid green;
    margin: 0;
}


.series-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 2em;

    .button {
        height: 15em;
        width: 15em;
        border-radius: 8em;
        //background-color: $btn-color;
        position: fixed; 
        justify-self: center;
        bottom: -5em;
       
        #submit {
            margin-top: 1em;
            border: none;
            font-size: 1.5em;
            color: $text-color_white;       
        }
    }
        input {
            color: transparent;
            appearance: none;
            position: relative;
            height: 18em;
            width: 182px;
        }
    
    section {
        height: 15em;
        width: 11em;
        border-radius: 2em;
        margin: .5em auto .5em auto;
    }
    img{
        position: absolute;
        width: 11em;
        height: 15em;
        border-radius: 2em;
    }

}
 
#series-page{
    margin-bottom: 175px;
}

#filtermsg{
    margin-top: 1em;
    color: var(--txt-color);
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline 4px red;
}


.hidden{
    display: none;
}