.pagina_update {

    * {
        margin: 0;
        font-size: 1em;
        font-family: $primary-font;
        color: $text-color;
    }

    h2 {
        font-size: 2em;
        padding: 0.5em;
    }

    label {
        display: block;
    }

    fieldset {
        margin-left: 1em;
        margin-bottom: 1em;
    }

    #button {
        margin-left: 1em;
        padding: 1em;
        background-color: $btn-color;
        border: none;
        color: $text-color_white;
    }
}

