/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

button {
  color: #f5f5f5;
  background-color: #ed1c24;
}

.pagina_home * {
  margin: 0;
  font-size: 1em;
  color: #0c0c0c;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}
.pagina_home h2 {
  font-size: 2em;
  margin: 0.5em;
}
.pagina_home h3 {
  font-size: 1.5em;
  margin: 0.7em;
}
.pagina_home p {
  margin: 1em;
}
.pagina_home a {
  display: inline-block;
  border: solid 0.5px #c42020;
  background-color: #ed1c24;
  color: #f5f5f5;
  margin: 1em;
  padding: 1em;
}
.pagina_home input {
  margin-left: 1em;
  padding: 1em;
  background-color: #ed1c24;
  border: none;
  color: #f5f5f5;
}

.seriesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 25px;
}
.seriesGrid section {
  height: 250px;
  width: 180px;
  border-radius: 30px;
  margin: 10px auto 10px auto;
}
.seriesGrid input {
  color: transparent;
  height: 250px;
  width: 182px;
  appearance: none;
  border-radius: 30px;
  position: relative;
}
.seriesGrid label {
  color: #0c0c0c;
  position: relative;
  top: -50%;
  font-size: 1.3em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.seriesGrid input:checked {
  opacity: 0.8;
  border-radius: 30px;
  background-color: #fffefc;
  border: 4px solid green;
  margin: 0;
}

.seriesGrid .button {
  height: 250px;
  width: 250px;
  border-radius: 150px !important;
  background-color: #ed1c24;
  border: 2px solid #c42020;
  position: fixed;
  top: 88%;
  left: 22%;
}
.seriesGrid .button p {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0c0c0c;
  margin-top: 10px;
  top: 0;
}
.seriesGrid .button #submit {
  margin-top: 25px;
  height: 50px;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f5f5f5;
}
.seriesGrid .button input {
  height: 50px;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0c0c0c;
  margin-left: 70px;
}

img {
  position: absolute;
  width: 180px;
  height: 250px;
  border-radius: 30px;
}

.pagina_update * {
  margin: 0;
  font-size: 1em;
  font-family: Montserrat, sans-serif;
  color: #0c0c0c;
}
.pagina_update h2 {
  font-size: 2em;
  padding: 0.5em;
}
.pagina_update label {
  display: block;
}
.pagina_update fieldset {
  margin-left: 1em;
  margin-bottom: 1em;
}
.pagina_update input {
  border: solid 0.01em;
}
.pagina_update #button {
  margin-left: 1em;
  padding: 1em;
  background-color: #ed1c24;
  border: none;
  color: #f5f5f5;
}

.match-container {
  display: flex;
  justify-content: center;
}
.match-container .person-name {
  font-weight: 700;
  font-size: 2rem;
}
.match-container li {
  margin: 0.2rem;
}

.rematch_btn {
  margin-top: 2rem;
  text-align: center;
}

.like-choice_btn {
  margin: 1.5rem;
  padding: 0.5rem;
  width: 4rem;
}

body {
  background-color: #fffefc;
}

/*# sourceMappingURL=main.css.map */
